
.btn-container {
    margin-top: 30pt;
}

#main-logo {
    min-height: 50pt;
    width: 80%;
    margin: auto;
}

.input-form {
    width: 80%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.btn-container {
    width: 80%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

#login-page {
    width: 300pt;
    height: 500pt;
    margin-top: 30%;
}

#btns {
    margin-top: 6pt;
}
