
.btn-container {
    margin-top: 30px;
}

#main-logo {
    height: 60px;
    width: 180pt;
    margin: auto;
    background: url("../m-logo.png") no-repeat;
    background-size: contain;
    padding-top: 20px;
}

.input-form {
    width: 80%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.btn-container {
    width: 80%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

#login-page {
    margin-top: 30%;
}

#login-btn-group {
    margin-top: 6px;
}

#span-reg {
    color: grey;
    display: inline-block;
    margin-top: 20px;
}

#link-reg {
    font-size: 13px;
    font-style: italic;
    color: #00ae1c;
    cursor: pointer;
    text-decoration: underline;
}

